/* BANNER
----------------------------------------------------- */
#banner {
	/* background: url(../img/banner.jpg) center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; */
	height: 100vh;
}

#banner-content {
	height: 100%;
	background-color: #D0D2D4;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	@media (max-width: 695px) {
		align-items: initial;
	}
}

.banner-content-left {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media (max-width: 810px) {
		margin-top: 30px;
		max-width: 100%;
	}

}

.banner-content-left img {
	border-radius: 50%;
	margin-bottom: 40px;
	filter: saturate(0.5);

	@media (max-width: 770px) {
		scale: 78%;
		margin-bottom: 0;
	}
}

.banner-content-left h2 {
	font-family: cursive;

	@media (max-width: 810px) {
		font-size: 18px;
	}
}

.banner-content-left h4 {
	font-family: cursive;
	margin: 10px 0 0 0;
}

.banner-content-right {
	display: flex;
	flex-direction: column;
	padding-left: 30px;

	@media (max-width: 890px) {
		padding-left: 0;
		height: 20%;
	}
}

#banner-content h2 {
	color: #333;
}

#banner-content h1 {
	font-size: 30pt;
	margin-bottom: 16px;
	text-align: center;
	color: #333;
	margin-top: 10px;
}

#banner-content h1 .verde,
h4 .verde {
	color: #585656;
}

#banner-content p {
	font-size: 12pt;
	color: #f7f7f7;
	text-align: center;
}

.taga #cubos {
	color: #ed145b;
	font-weight: bold;
	letter-spacing: 1px;
}

.taga #cubos:hover {
	text-decoration: underline;
}

#redes-sociais {
	margin-top: 12px;
}

#redes-sociais ul {
	display: flex;
}

#redes-sociais ul li {
	margin: 0 10px;
}

.social-icon {
	width: 45px;
	height: 45px;
	padding: 10px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3);
	transform: scale(1,1);
	transition: transform 0.5s;
}

.social-icon i {
	color: #FFF;
}

#scroll {
	position: absolute;
	bottom: 20px;
}

#scroll i {
	animation-name: floating;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	font-size: 40pt;
	color: #FFF;
}

@media (max-width: 770px) {
	#banner-content h1 {
		font-size: 25pt;
		margin: 20px 0 30px;
	}
	
	.social-icon:hover {
		background-color: rgba(82, 179, 217, 0.3);
		transform: scale(1.5,1.5);
	}
}

@media (max-width: 425px) {
	#banner-content h1 {
		font-size: 20pt;
	}
	
}